body {
    background-color: #FFFFFF;
    color: #666666;
    background-image: url(background.jpg);
    font-family: "Arial", "Helvetica", sans-serif;
}

#wrapper {
    margin: 0 auto;
    width: 80%;
    background-color: #FFFFFF;
    min-width: 960px;
    box-shadow: 5px 5px 5px #000033; 
    -webkit-box shadow: 5px 5px 5px #000033;
    -moz-box-shadow: 5px 5px 5px #000033;
}

#nav {
    background-color: #90C7E3;
    padding: 5px 5px 5px 20px;
}

#content {
    padding: 0px 20px 20px 20px;
}
#content img {
    float: left; padding-right: 20px;
}
#content ul {
    list-style-position: inside;
}

#address {
    font-size: 90%;
}

#footer {
    font-size: 75%;
    font-style: italic;
    font-family: "Georgia", "Times New Roman", serif;
}

h1 {
    background-color: #000033;
    color: #FFFFFF;
    margin-bottom: 0;
}
h2 {
    color: #3399CC;
    text-shadow: 1px 1px 1px #ccc; 
}
h1,h2,h3 {
    font-family: "Georgia", "Times New Roman", serif;
}

dt {
    color: #000033;
}

.resort {
    color: #000033;
    font-weight: bold;
}