@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: cairo;
}
.color-white {
    color: white;
}
.color-red {
    color: #bf1c11;
}
.flex-r {
    display: flex;
    flex-direction: row;
}
.under-navbar {
    padding-top: 75px;
}

/* Login Page */
.login-main-container {
    height: 100vh;
    display: flex;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(9,13,40,1) 50%, rgba(88,146,181,1) 100%);
}

.login-image-container {
    width: 50%;
    height: 100%;
}
.login-image-container img {
    width: 100%;
    height: 100%;
}

.login-container {
    margin: auto;
    text-align: center;
}

.login-form-container form div {
    display: flex;
    flex-direction: column;
}
.login-form-container form div label {
    text-align: start;
    font-size: 18px;
    font-weight: bold;
}

.login-input {
    padding: 5px;
    margin: 5px 0;
    border: 0;
    border-radius: 5px;
}

.login-title h1 {
    font-size: 48px;
}

.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 5px 0;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    &:hover,
    &:focus {
    color: #fff;
    outline: 0;
    }

    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;

    &:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    }
}


/* Home Page */
.navbar {
    height: 70px;
    width: 100%;
    background-color: #131111;
    color: white;
    
    position: fixed;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.navbar div a {
    margin-right: 20px;
}

.home-interface {
    height: 90vh;
    background-image: url(home-car.jpg);
    background-size: cover;
    text-align: center;
}
.home-interface h2 {
    margin-top: 60px;
    font-size: 42px;
}

.home-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    background-color: #fefffe;
    padding: 25px 0;
}
.home-footer-items ul {
    font-weight: bold;
}
.home-footer-items ul li::marker {
    color: #bf1c11;
}
.home-footer-description {
    width: 400px;
}

/* About Page */
.about-container {
    height: 90vh;
    background-image: url("bground.jpg");
    background-size: cover;
    padding: 100px 25px 0 25px;
}
.about-content {
    display: flex;
    flex-direction: row-reverse;
}
.about-content dl h2 {
    font-size: 32px;
}
.about-footer {
    padding-top: 85px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

/* News Page */
.navbar-news {
    background: white;
}
#body{
    background-color:rgb(9,31,41);
    height: 100vh;  
}
.logo{
    text-decoration: none;
    color:rgb(9,31,41);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.main{
    width: 100%;
    height: 100%;
}
 .div{
    
    width: 600px;
    transform: translatey(50px);
    text-align: center;
    color:white;
     font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
    transform: translateY(-320px);
   
}

.carphotoo{
    width: 750px;
    margin-top: 150px;
    margin-left: 670px;
}
#h2{
    transform: translatey(-10px);
    text-align: left;
    padding-left: 52px;
    color:#4ee2ec;
     font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
   
}
#h5{
    transform: translatey(10px);
    text-align: left;
    padding-left: 52px;
    color:#4ee2ec;
     font-family:  sans-serif;
  font-weight: 300;
  font-style: normal;
}
