* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: monospace;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgb(238, 174, 202);
  background: linear-gradient(
    308deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.container header {
  font-size: 72px;
  font-weight: bold;
}

.task-list {
  list-style-type: none;
}
.task-list li {
  font-size: 18px;
}
